/* RegisterPage.module.css */

.signupContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.signupTitle {
  color: blueviolet;
  font-size: 24px;
}

.signupForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgb(59, 228, 228);
}

.formLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  color: #333;
}

.formInput {
  width: 250px;
  padding: 8px;
  border: 1px solid blueviolet;
  border-radius: 5px;
  outline: none;
}

.signupFooter {
  font-size: 14px;
}

.login-text {
  font-size: 12px;
  color: blueviolet;
}

.login-link {
  font-size: 14px;
  color: rgb(25, 38, 216);
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
}

.signup-button {
  background-color: rgb(43, 132, 192);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.signup-button:hover {
  background-color: rgb(30, 100, 160);
}
