body {
  width: 100%;
  /* position: absolute; */
}

.main {
  height: 1464px;
  width: 500px;
  background-color: #24052c;
}

.SpaceDom {
  font-size: 30px;
  color: white;
  font-style: italic;

}

.personalcabinet {
  width: 1220px;
  height: 92px;
  background-color: #6a1b9a;
  margin-left: 600px;
  border-radius: 10px 10px 10px 10px;
  margin-top: -100px;
  font-style: italic;
}

.textik {
  color: #fff;
  font-size: 40px;
  margin-left: 50px;
  padding-top: 20px;
}

.LEAVE {
  display: flex;
  /* position: relative; */
  margin-top: -59px;
  align-items: center;
  background-color: #24052c;
  color: #fff;
  font-size: xx-large;
  margin-left: 50em;
  font-style: italic;
  width: 176px;
  height: 38px;
}

.novir {
  background-color: black;
  border-radius: 200px;
  width: 350px;
  height: 350px;
}

.secondly {
  list-style: none;
  font-style: italic;
  font-size: 30px;
  color: #fff;
  gap: 10px;
}



body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebarHeader {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #34495e;
}

.logo {
    width: 50px;
    margin-bottom: 10px;
}

.sidebarNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebarNav li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    transition: background-color 0.3s;
}

.sidebarNav li a:hover {
    background-color: #34495e;
}

.sidebarNav li a i {
    margin-right: 10px;
}

.sidebarFooter {
    margin-top: auto;
    padding: 20px;
    border-top: 1px solid #34495e;
}

.profileLink {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.profilePic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}


/* MAIN */

.main {

}

.header {

}

.head__title {}

.leave__btn {

}

.main