body {
    width: 100%;
}

.main {
  height: 1464px;
  width: 500px;
  background-color: #24052c;
}

.SpaceDom {
  font-size: 30px;
  color: white;
  font-style: italic;
  margin-left: 20px;
}

.personalcabinet {
  width: 1220px;
  height: 92px;
  background-color: #6a1b9a;
  margin-left: 600px;
  border-radius: 10px 10px 10px 10px;
  margin-top: -100px;
  font-style: italic;
}

.textik {
  color: #fff;
  font-size: 40px;
  margin-left: 50px;
  padding-top: 20px;
}

.LEAVE {
  display: flex;
  margin-top: 20px;
  align-items: center;
  background-color: #24052c;
  color: #fff;
  font-size: xx-large;
  margin-left: 856px;
  font-style: italic;
  width: 200px;
}

.novir {
  background-color: black;
  border-radius: 200px;
  width: 350px;
  height: 350px;
}

.secondly {
  font-style: italic;
  font-size: 30px;
  color: #fff;
  gap: 10px;
}
